
/* FULL BOOTSTRAP SUPPORT ~147K */
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/chartist/dist/scss/chartist.scss";



.body{
	background-color: #414042;
	color: white;
}

.titleImg{
	background: url("../img/millenialsheader.jpg") no-repeat 0 0;
	position: relative;
	background-size: 110%;
	width: 120%;
	height: 1000px;
	margin-bottom: 300px;
}

.titleSpacer{
	padding: 0 !important;

}

a {
	color: grey;


}


.bgImg{
	background: url("../img/millenialsheader.jpg") no-repeat 0 0;
	background-size: 110%;
	position: fixed;
	width: 110%;
	height: 100%;
	top: 0;


	
	
}
.container{
	width: 100%; 
	padding: 0;
	z-index: 100;
	margin-top: 1000px;
}


/*.parentRow{
	background: url("../img/millenialsheader.jpg") no-repeat 0 0 transparent;
	background-size: 110%;
	overflow: hidden;
	z-index: -1000;	

}*/

#colTitle{
	height: 300px;
}

#rightCol{
	padding: 0;
	z-index: 10;
}

#midCol{
	padding-top: 300px;

}

.infoSpacer{
	height: 200px;
}

section{
	height: 1200px;
	text-align: center;
	margin: 15px;
	border: 3px white solid;
	border-radius: 5px;
}

#section-2{
	border: none;
}
/*#section-1{
	background-color: blue;
}
*/
/*#section-2{
	background-color: cyan;
}

#section-3{
	background-color: olive;
}

#section-4{
	background-color: grey;
}*/

.move{

	padding: 30px;
	border: 1px white solid;
	border-radius: 5px;
	margin-left: 50px;
}

.menu{
	list-style-type: none; 
	padding: 0;

	:hover {
	color: #414042;
	text-decoration: none
}
	
}

#menuPin{
	top: 250px !important;
	z-index: 100;
}

.active {
	color: white;
	}


	.col-fixed{
		width: 200px;
		position: fixed;
		height: 100%;
		z-index: 1000;

	}

	.col-offset-200{
		padding-left: 300px;
		z-index: 90;
	}

.chartSpacer{
	padding-top: 0 !important;
}



/* PARTIAL BOOTSTRAP SUPPORT ~34K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
